<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/star.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Card Section -->
            <div class="col-md-6 fixed">
                
                <div class="card" style="width: 100%; height: 50rem;">
                    <img src="<%= campground.image.url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Location: <%= campground.location %></li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">By: <%= campground.author.username %></li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Price: $<%= campground.price %>/day</li>
                    </ul>
                    <% if(currentUser){%>
                    <% if(campground.author.equals(currentUser._id)){%>
                    <div class="card-body d-flex justify-content-between">
                        <a href="/campground/<%= campground.id %>/edit" ><button class="btn btn-info ">Edit </button></a>
                        <form action="/campground/<%= campground.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger ">Delete Campground</button>
                        </form>
                    </div>
                    <%  }%>
                    <%  }%>
                </div>
            </div>
            
            <!-- Review Section -->
            <div class="col-md-6">
                <div id="map" class="mb-4" style="height: 250px; width: 100%;"></div>
                <%if(currentUser){%>
                <form action="/campground/<%=campground.id %>/review" method="POST" class="mb-3" novalidate>
                    <h2 class="mb-4 mt-3">Leave a Review</h2>
                    <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" min="1" max="5" class="form-range" name="review[rating]" id="rating">
                    </div> -->
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div class="mb-3 mt-4 d-flex flex-column">
                        <label for="body" class="form-label">Review</label>
                        <textarea name="review[body]" id="body" cols="90" rows="3" class="form-control" required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <%}%>
    
                <div class="reviews-container">
                    <h1>Reviews</h1>
                    <% if ( campground.review.length > 0) { %>
                        <% for (let c of campground.review) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title"><%= c.author.username %></h5>
                                    <p class="starability-result" data-rating="<%=c.rating %>">
                                      Rated: <%= c.rating %> stars
                                    </p>
                                    <p class="card-text">Review: <%= c.body %></p>
                                    <% if(currentUser && c.author.equals(currentUser._id)) {%>
                                    <form action="/campground/<%= campground.id %>/review/<%= c.id %>?_method=DELETE" method="post">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                                    
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div>
                            <h4>No reviews to show</h4>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-3 mb-3">
        <a href="/campground"><button class="btn btn-secondary" style="width: 200px;">Back to campground</button></a>
    </div>
    
</body>
</html>


<script>
     const camp ='<%- JSON.stringify(campground) %>'
</script>
<script src="/javascripts/showMap.js"></script>